.text{
	background-color: yellow;
}
.pic{
	text-align:center;
	
}
.p{
	align-self : center;
}
.table{
	color: white;
	text-align:center;
	background-color: green;
}
.edu{
	color: #ffffff;
	background-color: green;
}
.social{
	text-align:center;
	background-color: green;
	font-size: 42px;
}
a{
	color:white;
}