.text{
	background-color: white;
        color: white;
}
.pic{
	text-align:center;
	
}
.p{
	align-self : center;
}
.table{
	color: black;
	text-align:center;
	background-color: white;
}
.edu{
	color: black;
	background-color: white;
}
.social{
	text-align:center;
	background-color: white;
	font-size: 42px;
}
a{
	color:green;
}
